<main id="contact">
  <h1 class="text-center h1">Contact Us</h1>
  <!-- Form Section -->

  <div class="container text-center mt-5 mb-5  ps-md-5">
    <div class="row">
      <div class="col-sm-12 col-md-6 mb-4 d-flex align-items-center ">
        <div>
          <h1 class="mb-md-3  ">
            Ready to <span class="b_color">order</span> your favorite
            <span class="b_color">scent</span> ?
          </h1>
          <h2 class="mb-md-2">
            Simply leave us your message along with your phone number or email,
            and we'll get in touch to complete your order.
          </h2>
          <h3>Bringing the essence of beauty straight to you!</h3>
        </div>
      </div>

      <div
        class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center"
      >
        <div class="card p-4 shadow-lg">
          <span class="title h4 mb-3">Leave a Message</span>
          <form class="form">
            <div class="group mb-3">
              <input
                placeholder="‎"
                type="text"
                class="form-control"
                required=""
              />
              <label for="name" class="form-label">Name</label>
            </div>
            <div class="group mb-3">
              <input
                placeholder="‎"
                type="email"
                id="email"
                name="email"
                class="form-control"
                required=""
              />
              <label for="email" class="form-label">Email</label>
            </div>
            <div class="group mb-3">
              <textarea
                placeholder="‎"
                id="comment"
                name="comment"
                rows="5"
                class="form-control"
                required=""
              ></textarea>
              <label for="comment" class="form-label">Comment</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
