<div class="content">
<div class="custom-shape-divider-bottom-1736984230 ">
  <img src="assets/img/waves (6).svg" alt="Shape Divider" class="w-100 m-0 p-0">
  </div>

  <div class="container">
<div class="row ">

  <div class=" col-md-6 col-sm-12">
    <div class="d-flex justify-content-center align-items-center flex-column ">
      <img src="assets/img/11.png" alt="">
    <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, iste.</p>
    <div class="d-flex  align-items-center ">
      <span>find us here __ </span>
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa-brands fa-facebook-f mx-1"></i>
        <i class="fa-brands fa-instagram mx-1"></i>
        <i class="fa-brands fa-tiktok mx-1"></i>
        <i class="fa-brands fa-youtube mx-1"></i>
        <i class="fa-brands fa-whatsapp mx-1"></i>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-6 align-items-center justify-content-center shake">
    <div class="d-flex justify-content-center align-items-center">
      <img src="assets/img/Bottle of water-pana (1).png" alt="" class="w-75  shake-image">

    </div>
  </div>
</div>

</div>

</div>
