<main id="about">
  <h1 class="text-center h1 main_text">about</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 ">
        <div class="e-card shadow-lg playing">
          <div class="image"></div>

          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>

          <div class="infotop">
            <img
              src="assets/img/Bottle of water-pana (1).png"
              class="h-50 w-50"
              alt=""
            /><br />
            product
            <br />
            <div class="name pb-5">description</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="e-card playing">
          <div class="image"></div>

          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>

          <div class="infotop">
            <img
              src="assets/img/Bottle of water-pana (1).png"
              class="h-50 w-50"
              alt=""
            /><br />
            product
            <br />
            <div class="name pb-5">description</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="e-card playing">
          <div class="image"></div>

          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>

          <div class="infotop">
            <img
              src="assets/img/Bottle of water-pana (1).png"
              class="h-50 w-50"
              alt=""
            /><br />
            product
            <br />
            <div class="name pb-5">description</div>
          </div>
        </div>
      </div>


      <div class="col-sm-12 col-md-4">
        <div class="e-card playing">
          <div class="image"></div>

          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>

          <div class="infotop">
            <img
              src="assets/img/Bottle of water-pana (1).png"
              class="h-50 w-50"
              alt=""
            /><br />
            product
            <br />
            <div class="name pb-5">description</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="e-card playing">
          <div class="image"></div>

          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>

          <div class="infotop">
            <img
              src="assets/img/Bottle of water-pana (1).png"
              class="h-50 w-50"
              alt=""
            /><br />
            product
            <br />
            <div class="name pb-5">description</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="e-card playing">
          <div class="image"></div>

          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>

          <div class="infotop">
            <img
              src="assets/img/Bottle of water-pana (1).png"
              class="h-50 w-50"
              alt=""
            /><br />
            product
            <br />
            <div class="name pb-5">description</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</main>
